<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
  <link rel="stylesheet" href="css/header.css">
  <title>Title</title>

</head>
<body>
  <!--Header 영역을 참조합니다.-->
  <header th:replace="fragments/header :: header"></header>

  <!--Content 내용 영역을 참조합니다-->
  <th:block layout:fragment="content"></th:block>

  <!--Footer 영역을 참조합니다.-->
  <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>