body {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #a623f3;
}

.headerCategory {
    display: inline-block;
    font-weight: bold;
    font-size: 15pt;
}