body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.mainPageBackgroundImage {
    background-image: url("../img/mainPageBackgroundImage.jpg");
    background-size: cover;
    background-position: center;
}

.centerText {
    text-align: center;
}

/* 기본 스타일 */
.mainPageBody {
    width: 100%;
}
/* 800px 이하일 때 스타일 변경 */
@media (max-width: 800px) {
    .mainPageBody {
        width: 800px;
    }
}