<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}"
      layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>장인롤｜롤 장인랭킹에 대한 새로운 패러다임</title>
</head>
<body>
    <div class="mainPageBody">
        <div class="mainPageBackgroundImage centerText" style="width:100%; height: 600px;">
            <h1 style="padding-top: 100px; color: white;">Contents 영역 1</h1>
        </div>
        <div class="centerText" style="width:100%; height: 1100px;">
            Hello !
        </div>
    </div>
</body>
</html>